<!-- footer.component.html -->
<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2025 Le Coin Informatique. Tous droits réservés.</p>
      <button class="mentions-button" (click)="openModal()">Mentions Légales</button>
    </div>
  </footer>
  
<!-- Modal -->
<div class="modal" [ngClass]="{'is-active': isModalOpen}">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="box">
      <h2>Mentions Légales</h2>
      <h3>1. Présentation de l'entreprise</h3>
      <p><strong>Nom de l'entreprise :</strong> Le Coin informatique</p>
      <p><strong>Siège social :</strong> [adresse complète]</p>
      <p><strong>SIRET :</strong> [numéro SIRET]</p>
      <p><strong>RCS :</strong> [registre du commerce et des sociétés, si applicable]</p>
      <p><strong>Directeur de la publication :</strong> [Nom du responsable]</p>
      <p><strong>Hébergeur du site :</strong> [Nom de l'hébergeur, adresse et informations de contact]</p>
      
      <h3>2. Création et développement du site</h3>
      <p><strong>Entreprise responsable de la création et du développement du site :</strong> DIVILIS</p>
      <p><strong>Site internet :</strong> [URL de ton site DIVILIS]</p>
      <p><strong>Responsable de la publication :</strong> Tom Manlay</p>
      
      <h3>3. Propriété intellectuelle</h3>
      <p>Le contenu du site, y compris les textes, images, logos, graphiques, etc., sont la propriété de Le Coin informatique et/ou DIVILIS, sauf mention contraire. Toute reproduction, distribution ou utilisation non autorisée est interdite.</p>

      <h3>4. Données personnelles</h3>
      <p>Les données personnelles collectées sur ce site sont utilisées uniquement dans le cadre de la gestion des services proposés par Le Coin informatique. Conformément à la loi, vous disposez d'un droit d'accès, de rectification et de suppression de vos données personnelles. Pour exercer ce droit, vous pouvez nous contacter via notre formulaire de contact ou à l'adresse [email de contact].</p>

      <h3>5. Responsabilité</h3>
      <p>Le Coin informatique et DIVILIS ne peuvent être tenus responsables des erreurs, omissions ou des résultats qui pourraient être obtenus par l'utilisation des informations présentes sur ce site. Nous nous efforçons de garantir l'exactitude et la mise à jour régulière des informations.</p>

      <button class="button" (click)="closeModal()">Fermer</button>
    </div>
  </div>
</div>

  