<!-- footer.component.html -->
<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2025 Le Coin Informatique. Tous droits réservés.</p>
      <button class="mentions-button" (click)="openModal()">Mentions Légales</button>
    </div>
  </footer>
  
<!-- Modal -->
<div class="modal" [ngClass]="{'is-active': isModalOpen}">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="box">
      <h2>Mentions Légales</h2>
      
      <h3>1. Présentation de l'entreprise</h3>
      <p><strong>Nom de l'entreprise :</strong> Le Coin Informatique</p>
      <p><strong>Forme juridique :</strong> SAS, Société par Actions Simplifiée</p>
      <p><strong>Siège social :</strong> 42 Rue du Bois Pouty, 77120 Mouroux, France</p>
      <p><strong>SIREN :</strong> 448 130 294</p>
      <p><strong>RCS :</strong> [registre du commerce et des sociétés]</p>
      <p><strong>Directeur de la publication :</strong> Tom Manlay (Responsable de la publication pour Le Coin Informatique via DIVILIS)</p>
      
      <h3>2. Hébergement</h3>
      <p><strong>Hébergeur du site :</strong> OVH, 2 rue Kellermann, 59100 Roubaix, France</p>
      <p><strong>Gestion de l'hébergement :</strong> DIVILIS (Tom Manlay) – Gère l'hébergement, la maintenance, et les mises à jour du site.</p>

      
      <h3>3. Création et développement du site</h3>
      <p><strong>Entreprise responsable de la création :</strong> DIVILIS</p>
      <p><strong>Site internet :</strong> https://divilis.fr </p>
      <p><strong>Responsable de la publication :</strong> Tom Manlay (responsable chez DIVILIS)</p>

      <h3>4. Données personnelles</h3>
      <p>Les données personnelles collectées sur ce site sont utilisées uniquement dans le cadre des services proposés par Le Coin Informatique. Vous disposez d'un droit d'accès, de rectification et de suppression de vos données personnelles.</p>

      <button class="button" (click)="closeModal()">Fermer</button>
    </div>
  </div>
</div>
