<div class="navbar">
    
    <div class="logo">
        <!--<img class="logoimg" src="assets/images/logo_LCI_ETAPE15.png" alt="Le Coin Informatique" (click)="scrollToSection('section1')" style="cursor: pointer ;"/>-->
        <div class="textlogo" style="display: flex; flex-direction: column; align-items: center; margin-top: auto; margin-bottom: auto;">
            <p style="margin: 0;">LE COIN</p>
            <p style="margin: 0; margin-top: -5%; display: flex; align-items: center;">
                INFORM<span>&#64;</span>TIQUE
            </p>
        </div>
    </div>
    
    <div class="nav-container">
        <button class="burger-menu" [class.active]="isMenuOpen" (click)="toggleMenu($event)">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <ul [class.active]="isMenuOpen" [@slideInOut]="isMenuOpen ? '*' : 'void'">
            <li>
                <button btnP 
                    [class.active]="activeButton === 'section1'" 
                    (click)="scrollToSection('section1')">
                    Accueil
                </button>
            </li>
            <li>
                <button btnP 
                    [class.active]="activeButton === 'section2'" 
                    (click)="scrollToSection('section2')">
                    Services
                </button>
            </li>
            <li>
                <button btnP 
                    [class.active]="activeButton === 'section3'" 
                    (click)="scrollToSection('section3')">
                    À propos
                </button>
            </li>
            <li>
                <button btnP 
                    [class.active]="activeButton === 'section4'" 
                    (click)="scrollToSection('section4')">
                    Contact
                </button>
            </li>
        </ul>
    </div>
</div>