/* Navbar */
.navbar {
  background-color: #E8DBC8;
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  width: 165px;
  height: auto;
}

.logo img {
  padding: 5px;
  width: 100%;
  height: 100%;
  display: block;
}

.nav-container {
  display: flex;
  align-items: center;
}

.navbar ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  display: inline-block;
}

.navbar button:not(.burger-menu) {
  transition: all 0.3s ease;
}


/* Burger Menu */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background: none;
  border: none !important;
  cursor: pointer;
  padding: 15px !important;
  z-index: 1001;
  position: relative;
  margin-left: auto;
}

.burger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000000; /*avant #5c3d8d*/
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.burger-menu span:nth-child(1) {
  top: 25%;
}

.burger-menu span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu span:nth-child(3) {
  bottom: 25%;
}

/* Media Queries pour le responsive */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 5px 20px;
  }

  .burger-menu {
    display: flex;
  }

  .navbar ul {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #E8DBC8;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .navbar ul.active {
    display: flex;
  }

  .navbar li {
    width: 100%;
    text-align: center;
  }

  .navbar button:not(.burger-menu) {
    width: 80%;
    margin: 5px 0;
  }
}

/* Animation du burger menu */
.burger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
  opacity: 0;
}

.burger-menu.active span:nth-child(3) {
  bottom: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

li.active {
  font-weight: bold;
  color: var(--accent-color); 
}
