<div class="services-container">
  <h2>Mes services</h2>
  <div class="services-cards">
    <div class="card" *ngFor="let service of services">
      <i [class]="service.icon" style="font-size: 40px; color: #5c3d8d;"></i>
      <h3>{{ service.title }}</h3>
      <p>{{ service.description }}</p>
    </div>
  </div>
  
  <div class="atelier-tarif">
    <div class="atelier-container">
      <img src="assets/images/image_atelier.jpg" alt="Atelier" class="atelier-image">
      <h2>Atelier et tarif</h2>
      <div class="tarif-info">
        <ul>
          <li>Forfait Check Annuel <span class="price">80€</span></li>
          <li>Forfait Check Ponctuel <span class="price">95€</span></li>
          <li>Forfait pour une installation <span class="price">90€</span></li>
          <li>Forfait pour une sauvegarde <span class="price">80€</span></li>
          <li>Forfait pour un montage <span class="price">80€</span></li>
          <li>Forfait pour une réparation Mac <span class="price">200€</span></li>
          <li>Forfait Sauvegarde Approfondie <span class="price">200€</span></li>
          <li>Prix horaire <span class="price">70€</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
