/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Add application styles & imports to this file! */
body {
    margin: 0;
    padding: 0;
    padding-top: 80px; /* Ajoute un padding égal à la hauteur du header */
}